body {
  color: slateblue;
}

nav {
  position: fixed;
  right: 0;
  top: 2;
  margin-right: 50px;
}

nav a {
  padding: 5px;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}

.header {
  background-color: gray;
}

.home {
  height: 100vh;
  text-align: center;
  position: relative;
  top: 100px;
}

.home h1 {
  animation-name: h1slide;
  animation-duration: 2s;
}

.home p {
  animation-name: pslide;
  animation-duration: 4s;
}

.home img {
  animation-name: imgslide;
  animation-duration: 1s;
}

.headshot {
  height: 300px;
  width: 350px;
  padding: 25px;
}

.skills {
  position: relative;
  top: 150px;
  height: 100vh;
}

.skills ul li {
  list-style: none;
}

.head {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex {
  width: 150px;
  height: 200px;
}

.projects {
  position: relative;
  top: 100px;
  height: 100vh;
  text-align: center;
}

.card {
  box-shadow: 4 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px;
}

.contact {
  position: relative;
  top: 150px;
  height: 100vh;
}

.contact footer {
  padding: 200px;
  text-align: center;
}

@keyframes h1slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin: auto;
    width: 100%;
  }
}

@keyframes pslide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin: auto;
    width: 100%
  }
}

